:root {
  --bg-primary: #FDFCFB;
  --bg-secondary: #FFFFFF;
  --bg-card: #FFFFFF;
  --bg-card-alt: #FAFAFA;
  --text-primary: #0B1218;
  --text-secondary: #0B121866;
  --border-color: #EFE7DC;
  --accent: #F56A2A;
}

.dark {
  --bg-primary: #0B1218;
  --bg-secondary: #0B1218;
  --bg-card: #161E26;
  --bg-card-alt: #161E26;
  --text-primary: #FDFCFB;
  --text-secondary: #A0AEC0;
  --border-color: #2D3748;
  --accent: #F56A2A;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background-color 0.3s, color 0.3s;
}
